:host {
  display: block;
  padding: 1rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.todo-item {
  display: flex;
  margin: 1rem 0;
  cursor: pointer;
}

.title {
  margin: 0 1rem 0 0;
  padding: 0;
}

.important {
  font-weight: bolder;
}

.done {
  text-decoration: line-through;
}
